


.footer{
    width:100%;
    height:100px;
    display:grid;
    grid-template-rows: 80px 20px;
}

.footer-social-container{
    grid-row: 1 / 2;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
    background-color: var(--darker-blue);
    color:var(--white);
}

.footer-input{
    height:36px;
    width: min(600px, calc(90% - 120px));
    border-radius:18px;
    font-size:18px;
    color:var(--darker-blue);
    background-color: var(--white);
    color: var(--darker-blue);

}

.footer-input::placeholder{
    font-size:18px;
    color:var(--blue);
}

.footer-input-submit{
    height:36px;
    width:140px;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius:18px;
    border:2px solid var(--white);
    background-color: var(--darker-blue);
    font-size:20px;
    font-weight:700;
    color:var(--white);
}

.footer-copyright {
    grid-row:2/3;
    width:min(1800px, 98%);
    margin-inline:auto;
    font-size:16px;
    font-weight:600;
    color:var(--black);
}
.footer-credits{
    margin-block:auto;
    margin-left:auto;
    width:fit-content;
}