:root {
  --darker-blue: #0d1b2a;
  --dark-blue: #1b263b;
  --blue: #415a77;
  --light-blue: #778da9;
  --white: #f0f8d9;
  --black: rgb(30,30,30);
  --grey: rgb(180,180,180);
  --pink: rgb(255, 100, 100);
  --light-green: rgb(150, 255, 150);
  --red: rgb(160, 20, 20);
  --green: rgb(20, 140, 20);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--white);
  box-sizing: border-box;
  margin:0;
  padding:0;
  min-height: 100vh;
}

.page {
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

a {
  text-decoration: none;
}

h3,
p{
  margin-block:unset;
}

input,
button,
textarea{
  border:none;
  outline:none;
}

input:focus,
button:focus,
textarea:focus{
  border:none;
  outline:none!important;
}


.big-icon{
  height:40px;
  aspect-ratio: 1/1;
  font-size: 30px;
  display:flex;
  align-items:center;
  justify-content: center;
  transition:400ms;
}

.big-icon:hover{
  transform:scale(1.1);
  }

  .small-icon{
    height:30px;
    aspect-ratio: 1/1;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content: center;
  }

  .empty-input {
    border:2px solid var(--pink);
  }
  
  .grey-input {
    border:2px solid var(--grey);
  }

  /* media queries */

  @media only screen and (max-width:600px) {
    .big-icon{
      height:30px;
      font-size: 26px;
    }
    .small-icon{
      height:24px;
      font-size: 18px;
    }
  }
