:root {
  --darker-blue: #0d1b2a;
  --dark-blue: #1b263b;
  --blue: #415a77;
  --light-blue: #778da9;
  --white: #f0f8d9;
  --black: rgb(30,30,30);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--white);
  box-sizing: border-box;
  margin:0;
  padding:0;
}



a {
  text-decoration: none;
}

h3,
p{
  margin-block:unset;
}

input,
button{
  border:none;
  outline:none;
}

input:focus,
button:focus{
  border:none;
  outline:none!important;
}


.big-icon{
  height:40px;
  aspect-ratio: 1/1;
  font-size: 30px;
  display:flex;
  align-items:center;
  justify-content: center;
  transition:400ms;
}

.big-icon:hover{
  transform:scale(1.1);
  }

  .small-icon{
    height:30px;
    aspect-ratio: 1/1;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content: center;
  }